<%layout('/layouts/boilerplate.ejs')%>

<div class="row"></div>

<div class="alert alert-danger col-6 offset-3" role="alert">
   
   <h4 class="alert-heading"><%=err.message%></h4>
   <!-- stackTrace how error is propogating from where err started to end -->
   <!-- <p><%=err.stack%></p> -->
</div>